<div id="interactive-content-a">
             <div >
                        <div class="grid-box" style="transform: translate(-200%, -200%);">1</div>
                        <div class="grid-box" style="transform: translate(-100%, -200%);">1</div>
                        <div class="grid-box" style="transform: translate(0%, -200%);">1</div>  
                        <div class="grid-box" style="transform: translate(100%, -200%);">1</div>

                        <div class="grid-box" style="transform: translate(-200%, -100%);">1</div>
                        <div class="grid-box" style="transform: translate(-100%, -100%);">1</div>
                        <div class="grid-box" style="transform: translate(0%, -100%);">1</div>  
                        <div class="grid-box" style="transform: translate(100%, -100%);">1</div>

                        <div class="grid-box" style="transform: translate(-200%, 0%);">1</div>
                        <div class="grid-box" style="transform: translate(-100%, 0%);">1</div>
                        <div class="grid-box" style="transform: translate(0%, 0%);">1</div>  
                        <div class="grid-box" style="transform: translate(100%, 0%);">1</div>

                        <div class="grid-box" style="transform: translate(-200%, 100%);">1</div>
                        <div class="grid-box" style="transform: translate(-100%, 100%);">1</div>
                        <div class="grid-box" style="transform: translate(0%, 100%);">1</div>  
                        <div class="grid-box" style="transform: translate(100%, 100%);">1</div>
                        
            </div>

      
</div>

