@media screen and (orientation: landscape) {

    .main {
        /* Sit on top of the page content */
       width: 100%;
       height: 100%;
       top: 0%;
       left: 0%;
       right: 0;
       bottom: 0;
       position: fixed;
     }
   

}

@media screen and (orientation: portrait) {

  .main {
    /* Sit on top of the page content */
   width: 100%;
   height: 100%;
   top: 0%;
   left: 0%;
   right: 0;
   bottom: 0;
   position: fixed;
 }

   

}


.disable-events {
  pointer-events: none;
}


.enable-events {
  pointer-events: auto;
}