#overlay-ui {
position: fixed;
 top: 0;
 right: 10;
 z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
 pointer-events: none;
 color :whitesmoke ;
}


#ui {
     /* Sit on top of the page content */
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    background-color: rgba(167, 243, 179, 0.603); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    pointer-events: none;
    color :whitesmoke ;
    text-align: center;
    border: 3px solid green;
    margin: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    /* cursor: pointer; Add a pointer on hover */
  }

  #close-button {
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
  }
  

