#interactive-content {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 128, 255, 1); 
    position:absolute;

 }



 .grid-container:b {

    grid-template-columns: repeat(auto-fill, 25%);
    grid-auto-rows: 25%;
    
    display: grid;
    background-color: rgb(33, 243, 96);

  }
  .grid-item {
    width: 25%;
    height: 25%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 5px solid rgba(0, 0, 0, 0.8);
    padding: 25% ;
    font-size: 30px;
    text-align: center;
  }

  .grid-box {
    width: 25%;
    height: 25%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.8);
    font-size: 1em;
    text-align: center;
    top: 50%;
    left: 50%;
    color :black ;
    position: fixed;
    vertical-align:middle;
  }